.ant-card-body {
  padding: 8px;
  padding-top: 0;
  border: 1px solid lightgreen;
}

.Match {
  .copy-btn{
    padding: 6px 8px;
    font-size: 10px;
  }
  .Match__card {
    width: "100%";
  }
  .ant-card {
    position: relative;
  }
  .Match__createdDate {
    font-size: 12px;
    top: 4px;
    left: 8px;
    position: absolute;
  }

  .Match__info {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;

    p {
      font-size: 16px;
    }
  }
}
