.Sell {
  margin: 0 auto;
  max-width: 480px;
  padding: 0 20px;

  .Sell__Header {
    text-align: center;
  }

  .Sell__form {
    text-align: center;

    .Load_btn {
      width: 100%;
      font-size: 16px;
    }

    .form-control {
      margin-top: 10px;
    }
    select {
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ddd;
    }

    .termsCheckbox {
      margin: 10px 0;
    }
  }
}

.Sell__chipsInfo {
  text-align: center;
  color: green;
  padding: 8px;
  border: 1px solid green;
  border-radius: 5px;
  width: 177px;
  margin: 10px auto 0;
}
