.Buy {
  height: 100%;
  overflow: auto;

  .Buy__Header {
    text-align: center;
  }

  .Buy__paymentNumber {
    display: flex;
    justify-content: center;
    padding: 0 20px;
  }

  .Buy__form {
    text-align: center;
    padding: 0 20px;
  }

  #paymentNumber {
    background: #ddd;
  }

  .form-group {
    margin-bottom: 10px;
  }

  #copyButton {
    padding: 10px 32px;
  }
}

.Buy__paytmLink {
  text-align: center;
  background: #1890ff;
  margin: 10px 20px 20px 20px;
  border-radius: 5px;
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.1);

  a {
    color: white;
    width: 100%;
    display: inline-block;
    padding: 10px 20px;
  }
}
