// .form-control {
//   display: flex;
//   flex-direction: column;
//   margin-bottom: 10px;
//   input {
//     margin-top: 10px;
//     padding: 5px;
//   }
// }

.form-group {
  margin-bottom: 10px;
  label {
    display: block;
  }

  input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
}

.input-error {
  color: red;
}

.form-control-flex {
  display: flex;
  align-items: center;

  label {
    flex: 3
  }

  input {
    flex: 1
  }
}
