* {
  box-sizing: border-box;
}

.text-danger {
  color: #dc3545;
}

.text-info {
  color: #17a2b8;
}

.text-primary {
  color: #007bff;
}

.blink {
  animation: blink 1s infinite;
}

.text-dark {
  color: #343a40;
}

.Load_btn {
  color: white;
  background: #5ae776;
}

.danger__btn {
  background: red;
  border: none;
}
